
nav{
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background: #fff;                       /*der Background soll in den Einstellungen veränderbar sein. #fff*/
    position: sticky;
    top: 0;                                   /* sorgt dafür das die Navbar bei srollen oben bleibt*/
    z-index: 10;
}

.nav-left .menu-Icon{
    width: 35px;
    margin-right: 20px;
}

.nav-left .Logo{
    width: 130px;
}

.nav-right img {
    height: 20px;
    width: 25px;
    margin-right: 25px;
}
.nav-right .nav-upload {
    height: 20px;
    width: 25px;
}

.nav-right .nav-bell {
    width: 35px;
    border-radius: 50%;
}

.nav-right .nav-Profile {
    height: 25px;
    width: 30px;
    border-radius: 50%;
}

.nav-div
{
  display: flex;
  align-items: center;
}

.btn-Login{
    color: #0d98e9;
    background-color: #fff;
    border-color: #0d98e9;
    padding: 5px 10px;
    border-radius: 15%;
    cursor: pointer;
    align-items: center;
    margin-right: 15px;
}


.nav-Login_Icon{
    border: none;
    align-items: center;
}
